affine==2.4.0
basemap==1.4.1
basemap-data==1.3.2
basemap-data-hires==1.3.2
branca==0.7.1
cartopy==0.23.0
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
contourpy==1.2.0
cycler==0.12.1
datetime==5.4
earthpy==0.9.4
fiona==1.9.6
folium==0.16.0
fonttools==4.49.0
future==1.0.0
gdal==3.8.5
geojson==3.1.0
geomet==1.1.0
geopandas==0.14.3
georaster==1.25
html2text==2024.2.26
imageio==2.34.1
joblib==1.3.2
kiwisolver==1.4.5
lazy-loader==0.4
markupsafe==2.1.5
matplotlib==3.8.3
meteostat==1.6.7
mlxtend==0.23.1
networkx==3.3
numpy==1.26.4
packaging==23.2
pandas==2.2.1
pillow==10.2.0
pip==24.0
pymodis==2.4.1
pyparsing==3.1.2
pyproj==3.6.1
pyshp==2.3.1
rasterio==1.3.10
rioxarray==0.15.5
scikit-image==0.23.2
scikit-learn==1.4.1.post1
scipy==1.12.0
seaborn==0.13.2
sentinelsat==1.2.1
shapely==2.0.4
snuggs==1.4.7
threadpoolctl==3.3.0
tifffile==2024.4.24
tqdm==4.66.2
tzdata==2024.1
xarray==2024.3.0
xgboost==2.0.3
xyzservices==2024.4.0
zope-interface==6.2
dotenv
sentinelhub
matplotlib
imageio